@model ProductModel
@{
    ViewData["Title"] = "Product Details";
}

<h2>@ViewData["Title"]</h2>

<div class="product-details">
    <div class="card">
        <div class="card-header">
            <h4>@Model.Name</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID:</dt>
                <dd class="col-sm-9">@Model.Id</dd>
                
                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9">@Model.Name</dd>
                
                <dt class="col-sm-3">Description:</dt>
                <dd class="col-sm-9">@Model.Description</dd>
                
                <dt class="col-sm-3">Created Date:</dt>
                <dd class="col-sm-9">@Model.CreatedDate.ToString("yyyy-MM-dd")</dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
